@use "../../assets/styles/" as *;

// $primary: #213f7d;
// $secondary: #0052b0;
// $tertiary: #0a4aaa;
// $extended: #3f8cff;
// $primaryHover: #b9d0f2;

.HomePage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: $extended;
    z-index: 2;
    color: $extended;
    text-align: center;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;

    h2 {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: black;
      z-index: 2;
    }

    .input_box {
      width: 30%;
      text-align: center;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.221);
      border-radius: 8px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

      @include sm() {
        width: 50%;
      }
    }

    .create_button {
      padding: 10px 20px;
      text-align: center;
      color: #ffffff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition: ease all 0.5s;
      background-color: $extended;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .create_button:hover {
      background-color: $primaryHover;
      color: $secondary;
    }

    .create_button:disabled {
      background-color: #b2c8e9;
      color: #719ee0;
    }

    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      color: black;
    }
  }

  footer {
    text-align: center;
  }
}
